body {
    margin: 0px;
    /* max-width: 1512px;
    display: flex;
    justify-content: center;  інший варіант центрування вмісту сайту. .container потрібно видалити   */

}
.container {
    max-width: 1512px;
    margin: 0px auto;
} 

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;

}
 .header {
    display: flex;
    justify-content: space-between;

} 
.navigation, .navigation_end {
    color: black;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    height: 28px;
    padding-top: 46px;
    padding-left: 26px;
    margin: 0px;
}
.navigation--mobile {
    display:none;

}
.navigation a:hover {
    box-shadow: 0 -5px 0px lightgray inset;

}
.navigation_end {
    display:flex;
    height: 84px;

}
.navigation_end img {
    height: 21px;
    width: 20px;
    padding-left: 46px;

}
.navigation_end a {
    display: flex;
    height: 100%;
    align-items: center;

}

.navigation li {
     padding-right: 46px;
}
.navigation__shoppy { 
    margin:46px 10px 26px 0px;
    background-color: black;
    color: white;
    width: 163px;
    line-height: 46px;
    height: 46px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    

}
.navigation--show {

    display:none;
}
.navigation-column {
    flex-direction: column;
}
.show-menu {
    margin: 57px 0px;
    border: #E1E1E1;
    height: 25px;
    width: 25px;
    padding: 5px;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: none;
}

/* .burger {
    
    padding-top: 77px;
    padding-left: 32px;
    margin: 0px;
    cursor: pointer; 
    display: none;



}

.burger__icon {
    height: 21px;
    width: 21px; } */

.under_nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap-reverse;
    position: relative;
    background-image: url(./images/tapok_left.svg), url(./images/tapok_right.svg);
    background-position: center, right 25%;
    background-size: 35%, 32%;
    background-repeat: no-repeat;

}
.under_nav__legend {
    padding-top: 160px;
    padding-left: 24px;
    max-width: 325px;
    }
.under_nav__legend h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    max-width: 301px;
    height: 132px;
}
.under_nav__legend p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    max-width:251px;
}
.under_nav__legend a {
    display: flex;
    color: white;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    background-color: black;
    align-items: center;
    justify-content: center;
    max-width: 195px;
    height:50px;
    border-radius: 15px;
}
.row-1 {
    display: flex;
    gap: 25px;
    padding-left: 24px;
    flex-wrap: wrap;

}
.row-1 h4 {
    font-size: 40px;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    padding: 20px;

}
.row-1 p {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0px;
    padding: 20px;
}
.row-1__pict-1 {
    background-image: url(./images/shoe-1.jpg);
    width: 724px;
    height: 454px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.row-1__pict-1 p {
    align-self: end;
}
.row-1__pict-2 {
    background-image: url(./images/shoe-2.jpg);
    height:454px;
    width:724px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

}
.row-2 {
    overflow-x: auto;
}
.row-2::-webkit-scrollbar {
    width: 4px;
    height: 7px;
}
.row-2::-webkit-scrollbar-track {
    background: #E1E1E1;
}
.row-2::-webkit-scrollbar-thumb {
    background: #000;
}
.row-2 h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    padding-left: 24px;
    
}
.row-2__pictures {
    display: flex;
    padding-left: 24px;
    margin: 0;

}
.row-2__pictures li {
    margin: 0px 35px 15px 0px;
}
.row-2__pictures p, h6 {
    margin: 0;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}
.row-3 {
    overflow-x: auto;
}
.row-3::-webkit-scrollbar {
    width: 4px;
    height: 7px;
}
.row-3::-webkit-scrollbar-track {
    background: #E1E1E1;
}
.row-3::-webkit-scrollbar-thumb {
    background: #000;
}
.row-3 h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    padding-left: 24px;
    
}
.row-3__pictures {
    display: flex;
    padding-left: 24px;
    margin: 0;
}
.row-3__pictures li {
    margin: 0px 35px 15px 0px;
}
.row-3__pictures p, h6 {
    margin: 0;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscription h4 {
    font-family:"Montserrat", sans-serif;
    font-size: 40px;
    max-width: 235px;
    text-align: center;
    margin-bottom: 15px;
}
.subscription__info {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    max-width: 342px;
    text-align: center;
    margin-bottom: 24px;
}
.subscription__buttom {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    width:auto;
    padding: 14px 24px 13px 23px;
    border: 2px solid;
    margin-bottom: 156px;
}
.end {
    background-color: black;
    color:#ffff;
    min-height: 285px;
    position: relative;

}
.end__list {
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin:0;
    padding-left: 24px;
    padding-top: 50px;
    flex-wrap: wrap;
    padding-inline: 10px;
}
.end__list li {
    max-width: 162px;
    margin-right: 85px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;

}
.end__list h6 {
    color: #C4C4C4;

}
.end__list li:last-of-type {
    margin-left: 246px;
    max-width: 200px;

}

.shopy_inc {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: #C4C4C4;
    min-width: 214px;
    margin: auto;
    height: 12px;

}
.end__list__follow img {
    margin-right: 13px;
    width: 25px;
    height: 25px;

}
.end__list__follow h6 {
    margin-bottom: 13px;
}
  @media (max-width:950px) {
    .under_nav__legend {
        padding-top: 400px;
    }
    .under_nav {
        background-position: left 20%, right 15%;
        background-size: 50%, 47%;
        justify-content: center;
    }

}
  @media (max-width: 880px) {
    .navigation {
        display: none;
    }
    .show-menu {
        display: flex;
    }
    
    .burger-menu {
        background-color: lightgray;
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display: none;
    }
    .burger-menu--show {
            display: block;
    }
    .navigation--mobile {
        display:block; 
    }
    .navigation_end {
        padding-left: 0px;
    }
    .navigation__shoppy {
        margin-top: 56px;
    }
    .navigation_end img {
        height: 21px;
        width: 20px;
        padding-left: 16px; 
    }
    .end {
        min-height: 435px;
    }
    .end__list li {
        margin-right: 60px;
        margin-bottom: 10px;
     } 
    .end__list li:last-of-type {
        margin: 0px 0px 0px 24px;
    }  
    .shopy_inc {
        position: static;
        padding: 10px 5px 10px 5px;
        text-align: center;

    }
    .row-1__pict-1, .row-1__pict-2 {
        background-size: 342px 342px;
}
    .row-1 {
        gap: 3px;
    }

  }
    
    


 

 
